<ion-header>
  <ion-toolbar>
    <ion-title>
      Transactions
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="fetch()">
        <i class="fas fa-sync-alt fa-2x" 
        [ngClass]="{'fa-spin': transactionStore.state == State.Fetching}"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row mx-n3 my-3 px-0" 
      *ngFor="let transaction of transactionStore.transactions"
      (click)="edit(transaction)">
      <div class="col-2">
        <i class="{{transaction.category.icon.tag}} fa-3x"></i>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <h5>
              {{transaction.category.title}}
            </h5>
          </div>
          <div class="col-4 text-right">
            <h5>
              {{transaction.amount}}
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col text-secondary">
            <h6>
              {{transaction.account.title}}
            </h6>
          </div>
        </div>
        <div class="row">
          <div class="col text-secondary">
            <h6>
              {{transaction.counterpart.title}}
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <float-button 
    icon="fas fa-plus" 
    [open]="open" 
    direction="{{direction}}" 
    color="{{color}}">
    <ng-template #floatButton let-transactionType='transactionType'>
      <float-item-button icon="{{ transactionTypeInfo(transactionType).icon }}"
        (clicked)="edit({transactionTypeId: transactionType})"
        content="{{ transactionTypeInfo(transactionType).title }}">
      </float-item-button>
    </ng-template>

    <ng-container [ngTemplateOutlet]="floatButton"
      [ngTemplateOutletContext]="{transactionType:TransactionType.Expense}">
    </ng-container>
    <ng-container [ngTemplateOutlet]="floatButton" 
      [ngTemplateOutletContext]="{transactionType:TransactionType.Income}">
    </ng-container>
    <ng-container [ngTemplateOutlet]="floatButton"
      [ngTemplateOutletContext]="{transactionType:TransactionType.Transfer}">
    </ng-container>
    <ng-container [ngTemplateOutlet]="floatButton" 
      [ngTemplateOutletContext]="{transactionType:TransactionType.Debt}">
    </ng-container>
  </float-button>
</ion-content>
