<ion-header>
  <ion-toolbar>
    <ion-title>{{ userStore.user.email }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="logout()">
        <i class="fas fa-sign-out-alt fa-2x"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item>
      <ion-icon slot="start" name="pricetag"></ion-icon>
      <ion-label i18n>Categories</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="people"></ion-icon>
      <ion-label i18n>Counterparts</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="person-add"></ion-icon>
      <ion-label i18n>Family access</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="settings"></ion-icon>
      <ion-label i18n>Settings</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="help-circle"></ion-icon>
      <ion-label i18n>Help</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
