<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accounts">
      <ion-icon name="card"></ion-icon>
      <ion-label i18n>Accounts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transactions">
      <ion-icon name="swap"></ion-icon>
      <ion-label i18n>Transactions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="analytics">
      <ion-icon name="analytics"></ion-icon>
      <ion-label i18n>Analytics</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon name="menu"></ion-icon>
      <ion-label i18n>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
