<ion-header>
  <ion-toolbar>
    <ion-title (click)="toggleTransactionType()">
      {{ getTransactionTypeInfo(transaction.transactionTypeId).title }}
      <i class="fas fa-sort-down"></i>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="delete()">
        <i class="fas fa-trash fa-2x"></i>
      </ion-button>
      <ion-button (click)="save()">
        <i class="fas fa-save fa-2x"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row border-bottom" *ngIf="showTransactionTypes">
      <ng-container [ngTemplateOutlet]="transactionType"
        [ngTemplateOutletContext]="{transactionType:TransactionType.Expense}">
      </ng-container>
      <ng-container [ngTemplateOutlet]="transactionType"
        [ngTemplateOutletContext]="{transactionType:TransactionType.Income}">
      </ng-container>
      <ng-container [ngTemplateOutlet]="transactionType"
        [ngTemplateOutletContext]="{transactionType:TransactionType.Transfer}">
      </ng-container>
      <ng-container [ngTemplateOutlet]="transactionType"
        [ngTemplateOutletContext]="{transactionType:TransactionType.Debt}">
      </ng-container>

      <ng-template #transactionType let-transactionType='transactionType'>
        <div class="col border-primary p-3 text-center"
          [ngClass]="{'border-bottom': transaction.transactionTypeId === transactionType}"
          (click)="chooseTransactionType(transactionType)">
          {{getTransactionTypeInfo(transactionType).title}}
        </div>
      </ng-template>
    </div>
    <div class="row border-bottom">
      <div class="input-group input-group-lg">
        <input type="number"
          class="form-control shadow-none border-0 text-right" placeholder="0"
          [(ngModel)]="transaction.amount">
        <div class="input-group-append">
          <span class="input-group-text border-0">
            {{ transaction.account.currency.symbol }}
          </span>
        </div>
      </div>
    </div>
    <div class="row border-bottom py-2">
      <div class="col">
        <div class="row" (click)="toggleCategories()">
          <div class="col-2 mr-1">
            <i class="{{transaction.category.icon.tag}} fa-3x"></i>
          </div>
          <div class="col d-flex align-items-center">
            {{ transaction.category.title }}
          </div>
        </div>
        <!-- TODO: add option for creating new category -->
        <ng-container *ngIf="showCategories">
          <div class="row py-1"
            *ngFor="let category of categoryStore.categories"
            (click)="chooseCategory(category)">
            <div class="col-1">
              <i class="{{category.icon.tag}}"></i>
            </div>
            <div class="col">
              {{ category.title }}
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="row border-bottom py-2" (click)="openModal(accounts)">
      <div class=" col-1">
        <i class="fas fa-wallet"></i>
      </div>
      <div class="col">
        {{transaction.account.title}}
      </div>
    </div>
    <div class="row border-bottom py-2" (click)="openDateChooser()">
      <div class="col-1">
        <i class="fas fa-calendar-day"></i>
      </div>
      <div class="col">
        {{transaction.date | date:'longDate'}}
      </div>
    </div>
    <div class="row border-bottom py-2" (click)="openModal(counterpart)">
      <div class="col-1">
        <i class="fas fa-map-marker-alt"></i>
      </div>
      <div class="col">
        {{transaction.counterpart.title}}
      </div>
    </div>
    <div class="row border-bottom py-2">
      <div class="col-1 d-flex align-items-center">
        <i class="fas fa-comment"></i>
      </div>
      <div class="col input-group">
        <input type="text" class="form-control border-0 p-0 shadow-none"
          placeholder="Comment" [(ngModel)]="transaction.description">
      </div>
    </div>
  </div>

  <ng-template #accounts>
    <div class="modal-body">
      <div class="container">
        <div class="row" *ngFor="let account of accountStore.accounts">
          <div class="col py-1" (click)="chooseAccount(account)">
            <h5>{{ account.title }}</h5>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #counterpart>
    <div class="modal-body">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-map-marker-alt"></i>
          </span>
        </div>

        <input type="text" class="form-control shadow-none"
          [(ngModel)]="transaction.counterpart.title"
          [typeahead]="counterpartStore.counterparts"
          (typeaheadOnSelect)="onSelectCounterpart($event)"
          typeaheadOptionField="title">

        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"
            (click)="closeModal()">Ok</button>
        </div>
      </div>
    </div>
  </ng-template>
</ion-content>
